<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CustCheckRepository"><!-- 이 xml은 누가 사용하냐?의미 -> -->


    <!-- 출석 기록 저장 -->
    <insert id="save" parameterType="CustCheckDto">
        INSERT INTO custcheck (cust_id, check_start)
        VALUES (#{custId}, #{checkStart})
    </insert>

    <!-- 퇴실 기록 업데이트 -->
    <update id="update" parameterType="CustCheckDto">
        UPDATE custcheck
        SET check_end = #{checkEnd}
        WHERE check_no = #{checkno}
    </update>

    <!-- 가장 최근 출석 기록 조회 -->
    <select id="findLatestCheckInByCustId" parameterType="String" resultType="CustCheckDto">
        SELECT *
        FROM custcheck
        WHERE cust_id = #{custId} AND check_end IS NULL
        ORDER BY check_no DESC
            LIMIT 1
    </select>

    <update id="updateCheckEndTime">
        UPDATE custcheck AS main
            JOIN (
            SELECT check_no
            FROM custcheck
            WHERE cust_id = #{custId}
            AND check_end IS NULL
            ORDER BY check_start DESC
            LIMIT 1
            ) AS sub
        ON main.check_no = sub.check_no
            SET main.check_end = #{checkEnd}

    </update>

    <select id="custcheckfindpage" parameterType="search" resultType="CustCheckDto">
        SELECT *
        FROM
        custcheck
        WHERE
        cust_id = #{custId} <!-- 로그인된 custId 조건 추가 -->
        <!-- keyword 값에 따라 조건 변경 -->

        <if test="keyword == 'month'">
            AND MONTH(check_start) = #{search}
        </if>
    </select>



</mapper>