<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CustRepository">

    <!-- 단일 회원 정보 조회 -->
    <select id="selectOne" parameterType="String" resultType="edu.sm.app.dto.CustDto">
        SELECT *
        FROM cust
        WHERE cust_id = #{custId}
    </select>

    <!-- 모든 회원 정보 조회 -->
    <select id="select" resultType="edu.sm.app.dto.CustDto">
        SELECT *
        FROM cust
    </select>

    <!-- 회원 등록 -->
    <insert id="insert" parameterType="edu.sm.app.dto.CustDto">
        INSERT INTO cust (
            cust_id, cust_pwd, cust_name, cust_age, cust_gender,
            cust_phone, cust_address, trainer_id, cust_point
        )
        VALUES (
                   #{custId}, #{custPwd}, #{custName}, #{custAge}, #{custGender},
                   #{custPhone}, #{custAddress}, NULL, 0
               )
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="update" parameterType="edu.sm.app.dto.CustDto">
        UPDATE cust
        SET
            cust_pwd = #{custPwd},
            cust_name = #{custName},
            cust_age = #{custAge},
            cust_phone = #{custPhone},
            cust_address = #{custAddress}
        WHERE
            cust_id = #{custId}
    </update>

    <!-- 회원 삭제 -->
    <delete id="delete" parameterType="String">
        DELETE FROM cust
        WHERE cust_id = #{custId}
    </delete>

    <select id="hasPurchasedPT" resultType="int">
        SELECT COUNT(*)
        FROM payment
        WHERE cust_id = #{custId}
          AND product_name LIKE '%필라%'
          AND payment_status = 'SUCCESS'
    </select>
</mapper>
