<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.ReservationRepository"><!-- 이 xml은 누가 사용하냐?의미 -> -->

    <select id="selectByCustId" parameterType="String" resultType="reservationDto">
        SELECT reservation_no, cust_name, cust_phone, reservation_content, reservation_date, reservation_state
        FROM reservation
        WHERE cust_id = #{custId} <!-- 로그인된 사용자 ID로 필터링 -->
    </select>


    <select id="selectOne" parameterType="String" resultType="reservationDto">
        SELECT * FROM reservation WHERE cust_phone=#{custPhone}
    </select>
    <select id="select" resultType="reservationDto">
        SELECT * FROM reservation
    </select>
    <insert id="insert" parameterType="reservationDto">
        INSERT INTO reservation (cust_name, cust_phone, reservation_date, reservation_content, cust_id)
        VALUES (#{custName}, #{custPhone}, #{reservationDate},#{reservationContent}, #{custId})
    </insert>


    <update id="update" parameterType="reservationDto">
        UPDATE cust SET cust_pwd=#{custPwd},cust_name=#{custName} WHERE cust_id=#{custId}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM cust WHERE cust_id=#{custId}
    </delete>
<!--    이 이름을 CustRepository가 가지고있는 함수와 맞추면 된다. -->

</mapper>